
body { 

    font-family: Arial, sans-serif; 

    color: #e21111; 

    background-color: #f9f9f9; 

    margin: 0; 

    padding: 0; 

    line-height: 1.6; 

} 

header { 

    background-color: #1d1487; 

    color: white; 

    padding: 20px; 

    text-align: center; 

} 

 

header h1 { 

    margin: 0; 

} 

 

nav a { 

    color: rgb(242, 30, 168); 

    text-decoration: none; 

    margin: 0 10px; 

} 

 

nav a:hover { 

    text-decoration: underline; 

} 

main { 

    padding: 20px; 

    max-width: 800px; 

    margin: 0 auto; 

} 

 

main img { 

    max-width: 100%; 

    height: 200px; 

    display: block; 

    margin: 20px 0; 

} 

footer { 

    background-color: #cf0606; 

    color: white; 

    text-align: center; 

    padding: 10px; 

    position: fixed; 

    bottom: 0; 

    width: 100%; 

} 

 

a { 

    color: #4CAF50; 

    text-decoration: none; 

} 

 

a:hover { 

    text-decoration: underline; 

} 

mg { 

    border: 5px solid #4CAF50; 

    border-radius: 10px; 

} 